:global(body) {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

body {
    min-height: 60vh;
    background-color: #dcd1e3;
    margin: 0px;
    padding: 0px;
}

:root::-webkit-scrollbar {
    width: 6px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

:root::-webkit-scrollbar-track {
    background: #dcd1e3;
  }

:root::-webkit-scrollbar-thumb {
    background: #c7bfd6;
    border-radius: 2px;

  }

:root::-webkit-scrollbar-thumb:hover {
    background: #fbea7f;
  }

::selection {
    background: #fbea7f;
    color: #655673;
  }

.logo {
    margin-left: 10px;
}

.top {
    background-color: #b3a2bb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.top-button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: Sarabun, Arial;
    font-size: 22px;
    color: #3e2e43;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.top-button:hover {
    color: #fbea7f;
    background-color: #736384;
    border-radius: 12px;
}

.searches {
    display: flex;

    align-items: left;
    flex-direction: row;

}

.searchbar {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d9cad7;
    border-radius: 10px 0px 0px 10px;
    font-family: Sarabun, Arial;
    outline: none;
    width: 500px;
    padding: 5px 5px;
    border: 4px solid #655673;
    color: #3e2e43;
}

.searchbar:focus {
    border: 4px solid #fbea7f;
}

.searchsubmit {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #655673;
    border-radius: 0px 10px 10px 0px;
    font-family: Sarabun, Arial;
    outline: none;
    width: 80px;
    padding: 5px 5px;
    border: 4px solid #655673;
    color: #3e2e43;
}

.searchsubmit:hover {
    border: 4px solid #fbea7f;
    background-color: #fbea7f;
    color: #655673;

}

.bottom {
    height: 100%;
    min-height: 35vh;
    max-height: 100vh;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    background-color: #b3a2bb;
    padding: 5px;
}

.bottominfo {
    font-family: Sarabun, Arial;
    color: #3e2e43;
    padding: 5px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottominfo1{
    font-family: Sarabun, Arial;
    color: #3e2e43;
    padding: 5px;
    margin-left: 100px;
    margin-top: 40px;
}

.bottomtext {
    font-family: Sarabun, Arial;
    color: #3e2e43;
    text-decoration: none;
}

.bottomtextlink {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: Sarabun, Arial;
    color: #3e2e43;
    text-decoration: none;
}

.bottomtextlink:hover {
    font-family: Sarabun, Arial;
    color: #fbea7f;
    text-decoration: none;
}

.bottomtext2 {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: Sarabun, Arial;
    color: #3e2e43;
    text-decoration: none;
    font-weight: 600;
    margin: 20px;
}

.bottomtext2:hover {
    font-family: Sarabun, Arial;
    color: #fbea7f;
    text-decoration: none;
    font-weight: 600;
    margin: 20px;
}

.bottomkafka {
    font-family: Sarabun, Arial;
    font-weight: 700;
}

.content {
    font-family: Sarabun, Arial;
    color: #3e2e43;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.topic {
    font-size: 70px;
    font-weight: 700;
}

.subtopic {
    font-size: 40px;
    font-weight: 600;
}

.walloftext {
    font-family: Sarabun, Arial;
    color: #3e2e43;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlink {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    font-family: Sarabun, Arial;
    color: #3e2e43;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlink:hover {
    color: #fbea7f;;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlinkstrikethrough {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: line-through;
    font-family: Sarabun, Arial;
    color: #3e2e43;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlinkstrikethrough:hover {
    color: #fbea7f;;
    font-size: 16px;
    line-height: 1.8;
}

.emptyspace {
    background-color: #dcd1e3;
    height: 100px;
    width: 100px
}

.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-family: Sarabun, Arial;
    color: #3e2e43;
    font-size: 16px;
    font-style: italic;
    line-height: 1.8;
}

.centeradiv {
    display: flex;
      justify-content: center;
      text-align: center;
      min-height: 10vh;
    font-family: Sarabun, Arial;
    color: #3e2e43;

}

.loginbox {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #b3a2bb;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 20px;
}

.logintopic {
    margin: 10%;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.loginformlists {
    
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.loginform {
    margin: 20px;
    width: 70%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d9cad7;
    font-family: Sarabun, Arial;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    border: 4px solid #655673;
    color: #3e2e43;
}

.loginform:focus {
    border: 4px solid #fbea7f;
}

.loginsubmit {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #655673;
    border-radius: 10px;
    font-family: Sarabun, Arial;
    outline: none;
    width: 80px;
    padding: 5px 5px;
    border: 4px solid #655673;
    color: #3e2e43;
}

.loginsubmit:hover {
    background-color: #fbea7f;
    border: 4px solid #fbea7f;
    color: #655673;
}

.register {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 4px solid #b3a2bb;
    background-color: #b3a2bb;
    color: #3e2e43;
    text-decoration: none;
    padding: 5px 5px;
}

.register:hover {
    color: #fbea7f;
}

.settingsbox {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #b3a2bb;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border-radius: 20px;
}

.settingsselect {
    margin: 20px;
    width: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d9cad7;
    font-family: Sarabun, Arial;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: 4px solid #655673;
    color: #3e2e43;
}

.settingsselect:focus {
    border: 4px solid #fbea7f;
}

.settingsmenu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calculatorbox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.resultbox {
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.3s;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.charbig {
    width: 25vw;
}

.charsmol {
    width: 5vw;
}

.calcselect {
    margin: 10px;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #d9cad7;
    font-family: Sarabun, Arial;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: 4px solid #655673;
    color: 3e2e43;
}

.calcselect:focus {
    border: 4px solid #fbea7f;
}

.calcblock {
    line-height: 60%;
    border-radius: 10px;
    background-color: #b3a2bb;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultblock {
    line-height: 10%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #b3a2bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagewindow {
    margin: 5px;
    width: 100%;
    height: 100% ;
}