html, body {
    background-color: #170a10;
    margin: 0;
    padding: 0;
}

::selection {
    background: #d4a028;
    color: #1f0e16;
  }

::-webkit-scrollbar {
    width: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

::-webkit-scrollbar-track {
    background: #170a10;
  }

  ::-webkit-scrollbar-thumb {
    background: #260f1a;
    border-radius: 2px;
    
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d4a028;
  }

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #672e49;
    padding: 5px;
}

.logo1 {
    margin-left: 10px;
}

.bottom {
    display: flex;
    flex-direction: row;
    background-color: #411c2d;
    padding: 5px;
}

.bottomstuff1 {
    font-family: Sarabun, Arial;
    color: #ffffff;
    padding: 5px;
    margin-left: 100px;
    margin-top: 20px;
}

.bottomstuff2 {
    font-family: Sarabun, Arial;
    color: #ffffff;
    padding: 5px;
    margin-left: 100px;
    margin-top: 50px;
}

.bottomtext {
    font-family: Sarabun, Arial;
    color: #ffffff;
    text-decoration: none;
}

.bottomtextlink {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: Sarabun, Arial;
    color: #ffffff;
    text-decoration: none;
}

.bottomtextlink:hover {
    font-family: Sarabun, Arial;
    color: #d4a028;
    text-decoration: none;
}

.bottomtext2 {
    font-family: Sarabun, Arial;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.bottomkafka {
    font-family: Sarabun, Arial;
    font-weight: 700;
}

.search-bar {
    display: flex;
    margin-left: 50px;
    margin-right: auto;
    align-items: left;
    flex-direction: row;

}

.search1 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px 0px 0px 10px;
    font-family: Sarabun, Arial;
    outline: none;
    width: 500px;
    padding: 5px 5px;
    border: 4px solid #1f0e16;
    background-color: #2e1a23;
    color: white;
}

.search1:focus {
    font-family: Sarabun, Arial;
    outline: none;
    width: 500px;
    padding: 5px 5px;
    border: 4px solid #d4a028;
    background-color: #2e1a23;
    color: white;
}

.search2 {
    outline: none;
    width: 80px;
    padding: 5px 5px;
    border: 4px solid #1f0e16;
    border-radius: 0px 10px 10px 0px;
    background-color: #1f0e16;
    color: white;
}

.top-button {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: Sarabun, Arial;
    font-size: 22px;
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.top-button:hover {
    color: #d4a028;
    background-color: #2e1d20;
    border-radius: 10px;
}

.content {
    font-family: Sarabun, Arial;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.aboutmain {
    font-size: 70px;
    font-weight: 700;
}

.smallabout{
    font-size: 40px;
    font-weight: 600;
}

.smallaboutcontent {
    font-family: Sarabun, Arial;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
}

.smallaboutcontentlink {
    text-decoration: none;
    font-family: Sarabun, Arial;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
}

.emptyspace {
    background-color: #170a10;
    height: 100px;
    width: 100px
}